@font-face {
    font-family: "lakeshore-regular";
    src: url("fonts/lakeshore-regular.ttf") format("woff"),
        url("fonts/lakeshore-regular.ttf") format("opentype"),
        url("fonts/lakeshore-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
   
}

body {
    font-size: 10px;
    background: #8190a7;
}

a {
    text-decoration: none;
}

.logo-text {
    background: #f9f9f9;

    text-align: center;
    text-transform: uppercase;
    font-family:"lakeshore-regular";
    font-size: 1000%;
}

.thumbnail-item+.thumbnail-item {
    margin-top: 10px;
}

.thumbnail-item {
    display: block;
    border: 1px solid #f9f9f9;
    /*border: 1px solid rgba(100%, 100%, 100%, 0.8);*/
}

.thumbnail-list {
    list-style: none;
    padding: 0;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;

    background: #9dbd72;
    color: #0a0c15;

    font-size: 18px;
}