@font-face {
    font-family: "Sweet Rasty";
    src: url("fonts/Sweety\ Rasty.otf") format("woff"),
        url("fonts/Sweety\ Rasty.otf") format("opentype"),
        url("fonts/Sweety\ Rasty.otf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "lakeshore-regular";
    src: url("fonts/lakeshore-regular.ttf") format("woff"),
        url("fonts/lakeshore-regular.ttf") format("opentype"),
        url("fonts/lakeshore-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-size: 10px;
    background: #8190a7;
}

a {
    text-decoration: none;
}

.main-header {
    flex: 0 1 auto;
}

.logo-text {
    background: #f9f9f9;

    text-align: center;
    text-transform: uppercase;
    font-family: "lakeshore-regular";
    font-size: 1000%;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}



.thumbnail-item {
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    border: 1px solid #f9f9f9;
    /*border: 1px solid rgba(100%, 100%, 100%, 0.8);*/
}

.thumbnail-list {
    flex: 0 1 auto;
    order: 2;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    white-space: nowrap;
    overflow-x: auto;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;

    background: #9dbd72;
    color: #0a0c15;

    font-size: 18px;
}

.detail-image-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image-frame {
    position: relative;
    text-align: center;
}

.detail-image {
    width: 90%;
}

.detail-image-title {
    position: absolute;
    bottom: -16px;
    left: 4px;

    font-family: "Sweet Rasty";
    color: white;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
    font-size: 40px;
}

@media all and (min-width: 768px){
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }

    .thumbnail-list {
        flex-direction: column;
        order: 0;
        margin-left: 20px;
    }

    .thumbnail-item {
        max-width: 260px;
    }

    .thumbnail-item + .thumbnail-item {
        margin-top: 20px;
    } 

}

/* @media all and (orientation: landscape) {
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }

    .thumbnail-list {
        flex-direction: column;
        order: 0;
        margin-left: 20px;
    }

    .thumbnail-item {
        max-width: 260px;
    }

    .thumbnail-item+.thumbnail-item {
        margin-top: 20px;
    }
} 
*/

